# ==========================================
# VARIABLES DE ENTORNO - AWX AUTOMATION CLI
# ==========================================

# 1. Configuración de Active Directory (Para Kerberos/WinRM)
# Escribe el dominio en MAYÚSCULAS
AD_DOMAIN=TUEMPRESA.LOCAL

# Escribe el dominio en minúsculas
AD_DOMAIN_LOWER=tuempresa.local

# IP o FQDN del Controlador de Dominio (Domain Controller)
AD_DC_IP=10.10.0.5

# 2. Credenciales de la Cuenta de Servicio (Para Ansible Configuration)
# Cuenta de AD con permisos administrativos en los servidores destino
AD_SVC_USER=svc_ansible@tuempresa.local
AD_SVC_PASSWORD=Password_Generico_O_Vacio