# CLI interactiva
typer[all]>=0.9.0
InquirerPy>=0.3.4
rich>=13.0.0

# Motor de automatizacion
ansible-core>=2.15.0

# Transporte remoto Windows (WinRM)
pywinrm>=0.4.3
requests-ntlm>=1.1.0
requests-credssp>=2.0.0
